
<h1><%= @mega_display[:model_display].header %></h1>
<%= form_tag @mega_display[:form_path] do |f| %>
  <%=@mega_display[:mega_format].app_wrapper.html_safe%>
  <% if @mega_display[:mega_format].separate_header_row %>
    <% @mega_display[:displayable_fields].each do | displayable_field | %>
      <%= @mega_display[:mega_format].field_header_wrapper.html_safe%>
      <%= sortable(displayable_field[:field].field, displayable_field[:field_display].header) %>
      <%= @mega_display[:mega_format].field_header_wrapper_end.html_safe%>
    <% end %>
  <% end %>

  <% @mega_instance.each do |mega_record| %>
    <%= @mega_display[:mega_format].record_wrapper.html_safe%>
    <% @mega_display[:displayable_fields].each do | displayable_field | %>
      <% if @mega_display[:mega_format].app_format == 'profile_table' %>
        <tr><th><%=displayable_field[:field_display].header %></th><td>
      <% end %>
      <%= @mega_display[:mega_format].field_wrapper.html_safe%>
     
      <%=render template: displayable_field[:field_display].format.tableize + "/show", locals: {displayable_field: displayable_field, obj: mega_record} %>
      <%= @mega_display[:mega_format].field_wrapper_end.html_safe %>
      <% if @mega_display[:mega_format].app_format == 'profile_table' %>
        </td>
      <% end %>
    <% end %>
    <% if @mega_display[:mega_format].app_format == 'grid' %>
      <td><%= link_to 'Show', link_path('show', mega_record.id) %></td>
      <td><%= link_to 'Edit', link_path('edit', mega_record.id) %></td>
      <td><%= link_to 'Destroy', mega_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <%= @mega_display[:mega_format].record_wrapper_end.html_safe%>
  <% end %>
 
  <%=@mega_display[:mega_format].app_wrapper_end.html_safe%>
 <br><%= submit_tag %>
<% end %>
