<% if !['edit', 'new'].include? params[:action]%>
  <% @mega_displays.each do |mega_display| %>
    <% @mega_display= mega_display %>  
    <% @mf = @mega_display[:model_display_format] %>
    <%= render partial: "mega_bar_read" %>
    <%= render partial: "mega_bar_help_links", :locals => {:links => model_display_help_links} %>
  <% end%>    
<% else %>
  <%= form_for(@form_instance_vars) do |f| %>
    <% @mega_displays.each do |mega_display| %>
      <% @mega_display = mega_display %>
      <% @mf = @mega_display[:model_display_format] %>
      <%=@mf.app_wrapper.html_safe%>
      <%= render partial: "mega_bar_write" %>
      <%=@mf.app_wrapper_end.html_safe%>
      <%= render partial: "mega_bar_help_links",:locals => {:links => model_display_help_links} %>
    <% end %>
    <table><tr><th>Save</th><td><%= submit_tag %></td><th></tr></table>
  <% end%>
<% end %>

<%= render partial: "mega_bar_help_links", :locals => {:links => block_help_links} %>
<%= link_to 'Create New ' + @mega_model_properties.name.singularize, link_path('new') %> 