<div id="layout-<%=@mega_layout.name.gsub(' ', '-').downcase.dasherize %>" class="container no_columns_template layout-template">
  <div class="row">
    <%= layout_settings_header(@layout_helper) %>
    <% if @mega_layout_sections['full_top'].present? %>
      <div class='layout_section full_top col-xs-12'><%= @mega_layout_sections['full_top'][0]%></div>
    <% end %>
    <% if @mega_layout_sections['main'].present? %>
      <div class='layout_section main col-xs-12'><%= @mega_layout_sections['main'][0]%></div>
    <% end %>
    <% if @mega_layout_sections['full_end'].present? %>
      <div class='layout_section full_end col-xs-12'><%= @mega_layout_sections['full_end'][0]%></div>
    <% end %>

    <% if page_admin? %>
      <div class='links col-xs-12 layout_help_link'><%= render partial: 'mega_bar_help_links', :locals => {:links => layout_help_links} %></div>
    <% end %>
  </div>
</div>
