<div id="main-container" class="container right_and_left_columns_template">
 <div class="row">
    <% if @mega_layout_sections['full_top'].present? %>
      <div class='layout_section full_top col-xs-12'><%= @mega_layout_sections['full_top'][0]%></div>
    <% end %>

    <% if @mega_layout_sections['left_column'].present? %>
      <div class='layout_section left_column col-xs-3'><%= @mega_layout_sections['left_column'][0]%></div>
    <% end %>
    <% if @mega_layout_sections['main'].present? %>
      <div class='layout_section main col-xs-7'><%= @mega_layout_sections['main'][0]%></div>
    <% end %>
    <% if @mega_layout_sections['right_column'].present? %>
      <div class='layout_section right_column col-xs-2'><%= @mega_layout_sections['right_column'][0]%></div>
    <% end %>
    <% if @mega_layout_sections['full_end'].present? %>
      <div class='layout_section full_end col-xs-12'><%= @mega_layout_sections['full_end'][0]%></div>
    <% end %>
    <div class='links col-xs-12 layout_help_link'><%= render partial: 'mega_bar_help_links' ,:locals => {:links => layout_help_links} %></div>
  </div>
</div>
