<!DOCTYPE html>
<html>
  <head>
    <title>MEGA BAR yo</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <%= link_to 'Pages Index', mega_bar.pages_path %>
    </nav>

    <% flash.each do |key, msg| %>
      <div id="<%= key %>">
        <p><%= msg %></p>
        <div class="clear"></div>
      </div>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <% @page_layouts.each do |layout| %>
      <div class='layout'><%=layout%></div>
    <% end %>
    <%= render partial: 'mega_bar_help_links' ,:locals => {:links => page_help_links} %>
  </body>
</html>
