<!DOCTYPE html>
<html>
  <head>
    <title>MEGA BAR yo</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body class='<%= @page_classes %>'>
    <h1 class='site_name'><%= @site_name %></h1>
    <nav style='background-color: #eeeeee'>
      <%= link_to 'Home', '/' %> | <%= link_to 'My Pages', mega_bar.pages_path %> |  <%= link_to 'My Models', mega_bar.models_path %>
    </nav>
    <%# = image_tag "music-warehouse.jpeg" %>

    <% flash.each do |key, msg| %>
      <div id="<%= key %>">
        <p><%= msg %></p>
        <div class="clear"></div>
      </div>
    <% end %>

    <% @page_layouts.each do |layout| %>
      <%=layout%>
    <% end %>

    <%= render partial: 'mega_bar_help_links' ,:locals => {:links => page_help_links} %>
    <nav  style='background-color: #eeeeee'>
      <%= render "page_nav" %>
      <div class='admin_links'>To replace this global template, create a file at myapp/app/views/mega_bar/master_pages/render_page.html.erb that contains at least this: <span>< % @page_layouts.each{ |layout| puts "&lt;div class='layout'&gt;#{layout}&lt;/div&gt;"  } % ></span></div>
    </nav>
    <div>&nbsp;</div>
  </body>
</html>
