<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>MEGA BAR yo</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body class='<%= @page_classes %>'>
    <h1 class='site_name' style=" margin-left: 18px;"><%= @site_name %></h1>
    <nav style='background-color: #eeeeee'>
      <span style=" margin-left: 18px;">
        <%= link_to 'Home', '/' %> | 
        <%= link_to 'My Pages', mega_bar.pages_path %> |  
        <%= link_to 'My Models', mega_bar.models_path %> | 
      </span>

      <% @current_user = @current_user  ? @current_user : MegaBar::User.find_by_id(session[:user_id]) if session[:user_id] %>
      <span style="float: right; margin-right: 18px;">
        <% if @current_user %>
          Logged in as <%= @current_user.email %> (<%= @current_user.pln %>) |
          <%= link_to 'Log Out', session_path("current"), method: "delete" %>
        <% else %>
          <%= link_to 'Sign Up', mega_bar.new_users_path %> | 
          <%= link_to 'Log In', "/mega-bar/sessions/new" %> 
        <% end %>
      </span>
    </nav>
    <%# = image_tag "music-warehouse.jpeg" %>

    <% flash.each do |key, msg| %>
      <div id="<%= key %>">
        <p><%= msg %></p>
        <div class="clear"></div>
      </div>
    <% end %>

    <% @page_layouts.each do |layout| %>
      <%=layout%>
    <% end %>

    <%= render partial: 'mega_bar_help_links' , locals: {:links => page_help_links} if page_admin? %>
 
    <% admin_text = page_admin? ? 'Turn off Admin for ' : 'Administer ' %>

    <%=  link_to "#{admin_text} #{@mega_page[:name]} Page", controller: request.env[:mega_env][:kontroller_path], action: 'administer_page', id: @mega_page[:page_id]%>

    <nav  style='background-color: #eeeeee'>
      <%= render "page_nav" %>
      <div class='admin_links'>To replace this global template, create a file at myapp/app/views/mega_bar/master_pages/render_page.html.erb that contains at least this: <span>&lt;% @page_layouts.each{ |layout| puts "&lt;div class='layout'&gt;#{layout}&lt;/div&gt;"  } %&gt;</span></div>
    </nav>
    <div>&nbsp;</div>
  </body>
</html>
